{% extends 'padre.html' %}

{% block contenidoQueCambia %}
<div style="text-align: center;">
    <h1>¿Quiénes somos?</h1>
    <p>
        Somos una banda de música que trae infinitas posibilidades para amenizar, entretener y divertir a tus invitados.<br>El aporte de la música es una apuesta segura.<br>Si estás pensando en esta opción, revisen los diferentes estilos que ofrecemos para crear un momento único.
    </p>

    <iframe width="560" height="350" src="https://www.youtube.com/embed/sYsQlWDjsJ0?si=VpQnw6e99YHWQ_vH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    
    <a class="btn btn-primary btn-xl rounded-pill mt-3" href="#scroll" style="display: block; margin:40%;">Ver más..</a>
</div>
{% endblock contenidoQueCambia %}
