<!DOCTYPE html>
<html>
<head>
    <title>Enviar Mensaje</title>
</head>
<body>
    <h1>Enviar Mensaje</h1>
    <form method="post" action="{% url 'enviar_mensaje' %}">
        {% csrf_token %}
        <label for="receptor_id">Destinatario:</label>
        <select name="receptor_id" id="receptor_id">
            {% for usuario in usuarios %}
                <option value="{{ usuario.id }}">{{ usuario.username }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="contenido">Mensaje:</label>
        <textarea name="contenido" id="contenido" rows="4" cols="50"></textarea>
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
